---
import IconChevronLeft from "@/assets/icons/IconChevronLeft.svg";
import LinkButton from "./LinkButton.astro";
import { SITE } from "@/config";
---

{
  SITE.showBackButton && (
    <div class="mx-auto flex w-full max-w-3xl items-center justify-start px-2">
      <LinkButton
        id="back-button"
        href={`${SITE.base}/`}
        class="focus-outline mt-8 mb-2 flex hover:text-foreground/75"
      >
        <IconChevronLeft class="inline-block size-6" />
        <span>Go back</span>
      </LinkButton>
    </div>
  )
}

<script define:vars={{ base: SITE.base }}>
  /* Update Search Param */
  function updateGoBackUrl() {
    const backButton = /** @type {HTMLAnchorElement | null} */ (
      document.querySelector("#back-button"));

    const backUrl = sessionStorage.getItem("backUrl");

    if (backUrl && backButton) {
      // Make sure backUrl has the correct base path
      backButton.href = backUrl.startsWith("/") ? `${base}${backUrl}` : backUrl;
    }
  }

  document.addEventListener("astro:page-load", updateGoBackUrl);
  updateGoBackUrl();
</script>
